* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

body {
    font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 15px;
    color: rgb(51, 51, 51);
    white-space: normal;
    letter-spacing: 1px;
    line-height: 1.75em;
    background-color: #f3f3f3;
    line-height: inherit;
}

.main {
    width: 360px;
    padding: 10px 15px 15px;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.t1 li p strong {
    font-size: 17px;
    line-height: 2em;
}

.t2 p {
    font-weight: bold;
    font-size: 15px;
    line-height: 2em;
}

.t3 li {
    margin-bottom: 5px;
}

.tese .t3 li:before {
    content: "●";
    display: inline-block;
    height: 100%;
    font-size: 8px;
    vertical-align: middle;
    margin-top: -2px;
}

.img-330 {
    width: 326px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.try {
    cursor: pointer;
    color: #479af8;
    display: block;
    /*    float: right;*/
    line-height: 2em;
    padding-left: 5px;
}


/*弹框*/

.window {
    display: none;
    position: fixed;
    z-index: 99;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    height: 200px;
    bottom: 50%;
    margin-bottom: -100px;
    background: #fff;
}

.window .win-title {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.window p {
    padding: 15px;
}

.window ul {
    width: 300px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #eee;
}

.window ul li {
    float: left;
    text-align: center;
    width: 49%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.window ul li:nth-child(2) {
    border-left: 1px solid #eee;
}

.window ul li:active,
.window ul li:hover {
    color: #479af8;
}


/*蒙板*/

.shade {
    display: none;
    position: fixed;
    z-index: 98;
    width: 380px;
    margin: -20px -20px -20px -20px;
    height: 110%;
    background: rgba(0, 0, 0, .618);
}
