body {
	min-height: 1920px;
	padding-top: 70px;
	font-family: "微软雅黑";
}

a,
a:link {
	text-decoration: none;
}


/*common*/

.logoimg {
	border-radius: 18px;
	box-shadow: 0 0 10px #eee;
	width: 44px;
	height: 44px;
	transition: transform .1s linear;
	margin-top: 3px;
}

.logoimg:hover {
	transform: rotate(360deg);
}

.logodes {
	line-height: 3.1em;
	color: #777;
	font-size: 13pt;
	margin-left: -10px;
}

.version {
	display: block;
}

.download {
	width: 100%;
	margin: 0 auto;
	text-align: right;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 26px;
	background-color: #f5f5f5;
}

.text-muted {
	line-height: 26px;
}


/*bootstrap3*/

.navbar-default {
	background-color: #fefefe;
	border-color: #eee;
	box-shadow: 0 0 20px #eee;
}

.badge {
	position: relative;
	float: right;
}

.download .btn {}

.navbar-brand {
	padding-top: 0px;
}

.jumbotron {
	padding: 20px;
	margin-bottom: 15px;
	transition: box-shadow .2s linear, transform .3s linear, background .2s linear;
}

.jumbotron:hover {
	box-shadow: 0 0 20px #ccc;
	transform: translateY(-5px);
	background: #f5f5f5;
}

.panel-heading {
	transition: background .3s linear;
}

.panel-heading:hover {
	background: #fff;
}
