body {
    /*    font-family: serif, sans-serif;*/
    overflow-x: hidden;
    white-space: normal;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    padding-top: 5px;
}

@font-face {
    font-family: 'iconfont';
    /* project id 251342 */
    src: url('https://at.alicdn.com/t/font_yv7pi257c1tyy14i.eot');
    src: url('https://at.alicdn.com/t/font_yv7pi257c1tyy14i.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_yv7pi257c1tyy14i.woff') format('woff'), url('https://at.alicdn.com/t/font_yv7pi257c1tyy14i.ttf') format('truetype'), url('https://at.alicdn.com/t/font_yv7pi257c1tyy14i.svg#iconfont') format('svg');
}

#tips {
    display: none;
}

.split {
    height: 10px;
    background-color: #efeff0;
}

.nomore {
    font-size: 12px;
    color: #ccc;
    height: 45px;
    text-align: center;
    line-height: 20px;
    background-color: #efeff0;
    transition: 1s;
}

.none {
    display: none;
}

.center {
    text-align: center;
}

.tips:hover {
    animation: scaletipsimg 0.3s linear;
}

@-webkit-keyframes scaletipsimg {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes scaletipsimg {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes scaletipsimg {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaletipsimg {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

..=tips:visited {
    transform: scale(1)
}

.tips {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.tipstitle {
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding: 5px;
    display: block;
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0px 0px 1px #fff;
}

.tipsimg {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tipsid {
    position: absolute;
    /*    width: 70px;*/
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 1px;
    color: #fff;
    font-size: 1.3rem;
    /*    line-height: 1.3rem;*/
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
