/*
div {
    background-color: #ffff00;
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: linear;
}
*/


/*
div {
    background-color: #ffff00;
    color: red;
    width: 100px;
    transition: transform 1s linear, color 1s linear, width 1s linear;
}

div:hover {
    background-color: aqua;
    color: blue;
    width: 500px;
    transform: rotate(360deg);
}*/


/*
div {
    background-color: aqua;
    height: 1000px;
    margin-left: 100px;
}

@-webkit-keyframes mycolor {
    0% {
        background-color: aqua;
        margin-left: 100px;
    }
    40% {
        background-color: blue;
        margin-left: 70px;
    }
    70% {
        background-color: red;
        margin-left: 0px;
    }
    100% {
        background-color: aqua;
        margin-left: 100px;
    }
}

div:hover {
    -webkit-animation: mycolor 1s linear;
}*/

div {
    position: absolute;
    background-color: yellow;
    top: 100px;
    width: 500px;
}

@-webkit-keyframes mycolor {
    0% {
        background-color: firebrick;
        transform: rotate(0deg)
    }
    30% {
        background-color: cadetblue;
        transform: rotate(30deg)
    }
    6% {
        background-color: lightcoral;
        transform: rotate(-30deg)
    }
    100% {
        background-color: red;
        transform: rotate(0deg)
    }
}

div:hover {
    -webkit-animation: mycolor 5s linear;
}
