* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}

body {
    background-color: snow;
}

.wrapper {
    width: 80%;
    height: 1000px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.heading {
    margin: 0px;
    width: 100%;
    height: 90px;
    background-color: snow;
    margin: 0 auto;
}

.heading_title {
    float: left;
    font-size: 30px;
    color: burlywood;
}

.heading_nav {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    height: 30px;
    position: relative;
}

ul {
    margin-left: 40px;
    float: left;
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

li {
    padding-left: 10px;
    display: inline;
}

a:link,
a:visited {
    font-weight: bold;
    color: darkgray;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

a:hover,
a:active {
    color: dimgray;
}

.heading_img img {
    border-radius: 30px;
    display: inline;
    width: 26px;
    height: 26px;
    background-color: aquamarine;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    float: right;
}

.heading_soptlight form {
    float: right;
    height: 26px;
    position: relative;
    margin-right: 50px;
}

form input {
    width: 100px;
    height: 26px;
    border-radius: 30px;
}

.body {
    padding: 30px;
    width: auto;
    height: auto;
}

.body_title h3 {
    font-size: 30px;
    color: #333333;
}

.body_title p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footing {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 10px;
    color: darkgray;
}
