/*属性选择器*/

[id*=div] {
    color: firebrick;
}


/*首字符*/

[id^=div] {
    color: royalblue;
}


/*结尾字符*/

[id$=div] {
    color: cadetblue;
}


/*结构性伪类选择器*/


/*伪元素选择器*/

p:first-line {
    color: aqua;
}

p:first-letter {
    color: red;
}

li:before {
    content: "哈哈";
    font-size: 10px;
    color: gray;
}

li:after {
    content: "解释";
    font-size: 10px;
    color: gray;
}


/*伪类选择器*/


/*根*/

:root {
    background-color: darkgray;
}


/*有内容的区域样式*/

body {
    background-color: #fff;
}

div *:not(h1) {
    color: aqua;
}

:empty {
    background-color: blueviolet;
}

:target {
    background-color: chartreuse;
}


 