* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: '微软雅黑';
	font-size: 14px;
	color: #666;
}

.header {
	color: rgba(0, 0, 255, 0.5);
	width: 1080px;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -540px;
	-webkit-animation: aheader 20s linear infinite;
}

@-webkit-keyframes aheader {
	0% {
		top: 0px;
	}
	25% {
		top: 0px;
	}
	48% {
		top: 0px;
		color: rgba(0, 0, 255, 0.5);
	}
	49% {
		top: 10px;
		color: red;
	}
	50% {
		top: -500px;
	}
	75% {
		top: 0px;
	}
	100% {
		top: 0px;
	}
}

.start,
.finish {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	margin-top: 200px;
	display: none;
}

.new {
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #666aff;
	color: #fff;
	margin: 20px auto;
	cursor: pointer;
	border-radius: 7px;
	transition: 0.2s linear;
}

.regret {
	background-color: dimgray;
}

.new a {
	text-decoration: none;
	color: #fff;
	width: 100px;
	height: 50px;
	display: block;
}

.new:hover {
	background-color: #575bd9;
	transform: scale(1.3);
	box-shadow: 0px 0px 30px #ccc;
}

.new:active {
	background: #438eea;
	transform: scale(1);
}

#container {
	width: 760px;
	height: auto;
	margin: 5% auto;
	padding-left: 70px;
	text-align: center;
}

.upload {
	position: relative;
	width: 400px;
	float: left;
	overflow: hidden;
	/* margin-right: -90px; */
	/* padding-left: 40px; */
}

.info {
	/* position: relative; */
	/* width: 260px; */
	float: left;
	text-align: right;
	padding: 20px;
}

.btnCancel {
	display: none;
	width: 65px;
	height: 29px;
	border-radius: 0px;
}

.guifan {
	text-align: left;
}

#uploadform,
#uploadform_gif,
#uploadform_pre {
	/* margin-left: 160px; */
}


/* -- Form Styles ------------------------------- */

div.fieldset {
	border: 1px solid #afe14c;
	margin: 20px auto;
	margin-bottom: 0px;
	padding: 20px 10px;
}

div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: cornflowerblue;
}

div.flash {
	width: 355px;
	border-color: #D9E4FF;
	border-radius: 0px;
	box-shadow: 0 0 30px #eee;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 20px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */

.swfupload {
	vertical-align: top;
}

.table {
	width: auto;
	border: 1px solid #D9E4FF;
	padding: 20px;
	box-shadow: 0 0 30px #eee;
	border-radius: 0px;
}

.table tr {
	height: 36px;
}

.pack {
	width: 120px;
	height: 36px;
	box-shadow: 0 0 5px #eee;
	border-radius: 0px;
	background-color: #666aff;
	color: aliceblue;
	cursor: pointer;
}

.pack:hover {
	color: #fff;
	border: 1px solid #fff;
	background-color: #4c50bf;
}

input,
textarea {
	font-size: 12px;
	padding: 5px;
	border: 1px solid #eee;
	/*    border-radius: 5px;*/
	color: #888;
}

.w150 {
	display: block;
	width: 160px;
}

label {
	font-size: 12px;
	color: #888;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 10px;
	color: gray;
}