 * {
     padding: 0;
     margin: 0;
     list-style: none;
     border: 0px;
 }
 
 body {
     word-wrap: break-word;
     font-size: 14px;
     font-family: '微软雅黑';
 }
 
 .main {
     width: 320px;
     margin: 20px auto;
     text-align: right;
 }
 
 .color {
     width: 70px;
     color: blue;
     font-size: 16px;
     border-bottom: 1px solid red;
     text-align: center;
 }
 
 .list li {
     height: 30px;
 }
 
 .save {
     width: 60px;
     height: 25px;
     color: black;
 }
 
 .save:hover {
     color: white;
     background: #45a16b;
 }
 
 .save:active {
     color: aqua;
     background: #4e424d;
 }
 
 .pre-color {
     display: inline-block;
     width: 20px;
     height: 20px;
     border: 1px solid #ccc;
     vertical-align: bottom;
 }
