body {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    overflow-x: hidden;

}

#layout {
    width: 720px;
    height: 550px;
    background-color: #000;
    margin: 0 auto;
}

#anim_1 {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #fff000;
}

#ini {
    display: fixed;
    float: right;
    bottom: 10px;
    text-align: left;
    background-color: bisque;
}
