/*选择器分组
h1,
a,
h2 {
    color: blue;
    font-size: 50px;
}
*/


/*继承

body {
    color: blueviolet;
}

p {
    color: red;
}*/


/*派生选择器

li strong {
    color: red;
}

strong {
    color: blueviolet;
}
*/


/*ID选择器

#pid a {
    color: blueviolet;
}

#divid p {
    color: red
}*/


/*类选择器

.pclass {
    color: red
}

.divclass p {
    color: blue;
}*/


/*属性选择器，不支持IE6*/

[title] {
    color: blue;
}


/*属性和值选择器,不支持IE6*/

[title=te] {
    color: red
}
