    /*
CSS3 给文字添加阴影
*/
    /*
    #div1 {
        text-shadow: -5px -5px 3px #ff00ff, 5px 5px 5px #00ffff, 10px 10px 10px #ffff00;
        color: white;
        font-size: 40px;
        font-weight: bold;
        font-family: 宋体;
        background-image: url(res/1.jpg);
        height: 200px;
        width: 100px;
        padding: 30px 0px;
        text-align: center;
    }
*/
    /*CSS3 使用服务器端字体*/
    /*
@font-face {
    font-family: WebFont;
    src: url('res/font1.ttf') format("truetype");
    font-weight: normal;
}

.webfont {
    font-family: WebFont;
}*/
    /*客户端没有时，使用服务器端的字体*/
    
    @font-face {
        font-family: MyArial;
        src: local('Arial'), url('res/font2.ttf');
    }
    
    .webfont {
        font-family: MyArial;
    }
    /*font-size-adjust
x-height:58  font-size:100px aspect:0.58
c=(a/b)/s
a:实际，b:修改前，s:当前尺寸，c：显示尺寸
*/
    
    #div1 {
        font-family: cursive;
        font-size: 16px;
        font-size-adjust: 0.5;
    }
    
    #div2 {
        font-family: fantasy;
        font-size: 16px;
        font-size-adjust: 0.6;
    }
    
    #div3 {
        font-family: monospace;
        font-size: 16px;
        font-size-adjust: 0.6;
    }
