* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	overflow: hidden;
}

#container {
	width: 100%;
	height: auto;
	top: 50%;
	margin-top: -100px;
	text-align: center;
	position: absolute;
}

#box {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	/*
    perspective: 500;
    -webkit-perspective: 500;
*/
	transition: transform 1s;
	/* Firefox 4 */
	-moz-transition: transform 1s;
	/* Safari 和 Chrome */
	-webkit-transition: transform 1s;
	/* Opera */
	-o-transition: transform 1s;
}

.bx {
	transform: rotateX(45deg) rotateY(-50deg) rotateZ(0deg);
	/* IE 9 */
	-ms-transform: rotateX(45deg) rotateY(-50deg) rotateZ(0deg);
	/* Safari and Chrome */
	-webkit-transform: rotateX(45deg) rotateY(-50deg) rotateZ(0deg);
	/* Opera */
	-o-transform: rotateX(45deg) rotateY(-50deg) rotateZ(0deg);
	/* Firefox */
	-moz-transform: rotateX(45deg) rotateY(-50deg) rotateZ(0deg));
}

.box {
	position: absolute;
	left: 50%;
	transition: margin-left 1s linear, margin-top 1s linear;
	-moz-transition: margin-left 1s linear, margin-top 1s linear;
	-webkit-transition: margin-left 1s linear, margin-top 1s linear;
	-o-transition: margin-left 1s linear, margin-top 1s linear;
}

.b1 {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 100%;
	background-color: aqua;
	z-index: 7;
}

.b1wy {
	margin-left: -115px;
	margin-top: -115px;
}

.b2 {
	width: 100px;
	height: 100px;
	margin-left: -52px;
	margin-top: -52px;
	border-radius: 100%;
	border: dashed 4px #ffaaff;
	animation: fxz linear 4s infinite 0.2s;
	-webkit-animation: fxz linear 4s infinite 0.2s;
	-moz-animation: fxz linear 4s infinite 0.2s;
	-o-animation: fxz linear 4s infinite 0.2s;
	z-index: 6;
}

.b2wy {
	margin-left: -122px;
	margin-top: -122px;
}

.b3 {
	width: 200px;
	height: 200px;
	margin-left: -110px;
	margin-top: -110px;
	border-radius: 100%;
	border: dashed 10px #00ff00;
	animation: xz linear 3s infinite 0.2s;
	-webkit-animation: xz linear 3s infinite 0.2s;
	-moz-animation: xz linear 3s infinite 0.2s;
	-o-animation: xz linear 3s infinite 0.2s;
	z-index: 5;
}

.b3wy {
	margin-left: -150px;
	margin-top: -150px;
}

.b4 {
	width: 300px;
	height: 300px;
	margin-left: -160px;
	margin-top: -160px;
	border-radius: 100%;
	border: dotted 10px #ff00ff;
	animation: xz linear 3s infinite 0.2s;
	-webkit-animation: xz linear 3s infinite 0.2s;
	-moz-animation: xz linear 3s infinite 0.2s;
	-o-animation: xz linear 3s infinite 0.2s;
	z-index: 4;
}

.b4wy {
	margin-left: -180px;
	margin-top: -180px;
}

.b5 {
	width: 400px;
	height: 400px;
	margin-left: -210px;
	margin-top: -210px;
	border-radius: 100%;
	border: solid 10px #00ffff;
	opacity: 0.7;
	z-index: 3;
}

.b6 {
	width: 400px;
	height: 400px;
	margin-left: -210px;
	margin-top: -210px;
	border-radius: 100%;
	border: solid 10px #00ffff;
	animation: fd linear 2.5s infinite;
	-webkit-animation: fd linear 2.5s infinite;
	-moz-animation: fd linear 2.5s infinite;
	-o-animation: fd linear 2.5s infinite;
	z-index: 2;
}

.b7 {
	width: 400px;
	height: 400px;
	margin-left: -210px;
	margin-top: -210px;
	border-radius: 100%;
	border: solid 10px #00ffff;
	animation: fd linear 2.5s infinite 1s;
	-webkit-animation: fd linear 2.5s infinite 1s;
	-moz-animation: fd linear 2.5s infinite 1s;
	-o-animation: fd linear 2.5s infinite 1s;
	z-index: 1;
}


/*顺时针旋转*/

@-webkit-keyframes xz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes xz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes xz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes xz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*逆时针旋转*/

@-webkit-keyframes fxz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-o-keyframes fxz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-moz-keyframes fxz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes fxz {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}


/*放大*/

@-webkit-keyframes fd {
	0% {
		transform: scale(1) translate(0px, 0px);
		opacity: 1;
	}
	60% {
		transform: scale(1.5) translate(180px, 180px);
		opacity: 0;
	}
	100% {
		transform: scale(2.5) translate(300px, 300px);
		opacity: 0;
	}
}

@-o-keyframes fd {
	0% {
		transform: scale(1) translate(0px, 0px);
		opacity: 1;
	}
	60% {
		transform: scale(1.5) translate(180px, 180px);
		opacity: 0;
	}
	100% {
		transform: scale(2.5) translate(300px, 300px);
		opacity: 0;
	}
}

@-moz-keyframes fd {
	0% {
		transform: scale(1) translate(0px, 0px);
		opacity: 1;
	}
	60% {
		transform: scale(1.5) translate(180px, 180px);
		opacity: 0;
	}
	100% {
		transform: scale(2.5) translate(300px, 300px);
		opacity: 0;
	}
}

@keyframes fd {
	0% {
		transform: scale(1) translate(0px, 0px);
		opacity: 1;
	}
	60% {
		transform: scale(1.5) translate(180px, 180px);
		opacity: 0;
	}
	100% {
		transform: scale(2.5) translate(300px, 300px);
		opacity: 0;
	}
}
