body {
    /*    font-family: serif, sans-serif;*/
    overflow-x: hidden;
    white-space: normal;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
}


/*
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), url('font/iconfont.woff') format('woff'), url('font/iconfont.ttf') format('truetype'), url('font/iconfont.svg#iconfontyyy') format('svg');
}
*/

@font-face {
    font-family: 'iconfont';
    /* project id 251342 */
    src: url('https://at.alicdn.com/t/font_251342_gj2w2ud6xjtkpgb9.eot');
    src: url('https://at.alicdn.com/t/font_251342_gj2w2ud6xjtkpgb9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_251342_gj2w2ud6xjtkpgb9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_251342_gj2w2ud6xjtkpgb9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_251342_gj2w2ud6xjtkpgb9.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#item {
    background-color: #fff;
    padding-bottom: 60px;
    display: none;
}

#index {
    display: none;
}

a,
a:link {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*按钮*/

.btn-success {
    background-color: #673ab7;
    border-color: #693abd;
}

.btn-success:hover {
    background-color: #57319b;
    border-color: #57319b;
}

.btn-success:active {
    background-color: #673ab7;
    border-color: #693abd;
}

.split {
    height: 10px;
    background-color: #efeff0;
}

.nomore {
    font-size: 12px;
    color: #ccc;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #efeff0;
    transition: 1s;
}

.none {
    display: none;
}

.center {
    text-align: center;
}

.i-vac {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.span-vac {
    vertical-align: middle;
}


/*BANNER*/

#banner {
    width: 100%;
    cursor: pointer;
/*    display: none;*/
}

#banner img {
    width: 100%;
}

.skin-name {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*皮肤列表*/

.skinlist {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

.col-xs-4,
.col-xs-6 {
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.row-title {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.row-title span {
    display: inline-block;
    width: 5px;
    height: 10px;
    border-left-width: 2px;
    border-left-style: solid;
}

.vline-blue {
    border-left-color: #54e5d6;
}

.vline-green {
    border-left-color: #b1d835;
}

.vline-red {
    border-left-color: #f59074;
}

.thumbnail {
    border: none;
    padding: 0px;
    margin-bottom: 9px;
    /*      transition: 0.1s;*/
}

.thumbnail .caption {
    padding: 2px;
}

.thumbnail .skin-preview {
    border-radius: 5px;
    width: 100%;
}

.thumbnail .skin-name {
    color: #343434;
    font-size: 12px;
    text-align: center;
}

.thumbnail:hover,
#tips:hover {
    animation: scalethumb 0.3s linear;
}

@-webkit-keyframes scalethumb {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes scalethumb {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes scalethumb {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scalethumb {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.thumbnail:visited {
    transform: scale(1)
}


/*皮肤详情*/

#pop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #181818;
    font-size: 14px;
    z-index: 9999;
    display: none;
}

#pop .install {
    width: 80%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    display: none;
}

#pop .iclose {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: crimson;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    display: none;
}

#pop .iclose:hover {
    background-color: brown;
}

#pop .iclose:active {
    background-color: crimson;
}

#pop .ime-update {
    line-height: 1.2em;
}

#pop .insstall-cont {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 10px;
}

#item .navbar-fixed-top {
    background-color: #f8f8f8;
    font-size: 16px;
    padding: 12px 0px;
    z-index: 940;
}

#item .navbar-fixed-bottom {
    background-color: rgba(247, 247, 247, 0.9);
    z-index: 940;
}

#item .skin-name {
    color: #181818;
    text-align: center;
    font-size: 16px;
}

#row-more .skin-name {
    color: #343434;
    font-size: 12px;
    text-align: center;
}

#item .skin-sas {
    text-align: center;
    font-size: 11px;
    color: #7f7f7f;
    padding: 6px;
    padding-top: 52px;
}

#item .skin-star {
    color: #ff7e00;
    font-size: 9px;
}

#item .skin-details-preview {
    overflow: hidden;
}

#item .skin-details-preview img {
    width: 100%;
    border-radius: 5px;
}

#item .carousel {
    border-radius: 5px;
}

#item .skin-description {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 15px;
}

#item .skin-description-title {
    font-size: 14px;
    color: #181818;
}

#item .skin-description-content,
#item .skin-description-update {
    font-size: 14px;
    color: #7f7f7f;
    padding-bottom: 15px;
}

#item #skin-description-update {
    display: none;
}

#item .lables {
    padding-bottom: 15px;
    display: none;
}

#item .label {
    display: inline-block;
    line-height: 1.5em;
    padding: .2em .6em .2em;
    margin: 0.2em;
}

#item .back,
#item .help,
#item .share,
#item .like {
    color: #666;
    font-size: 16px;
    position: absolute;
    border: 1px solid rgba(171, 172, 176, 0.38);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#item .back {
    width: 25px;
    height: 25px;
    /*    line-height: 25px;*/
    float: left;
    margin-top: -2px;
    left: 12px;
}

#item .help,
#item .share {
    width: 25px;
    height: 25px;
    /*    line-height: 25px;*/
    float: left;
    left: 18px;
    margin-top: 4px;
}

#item .like {
    width: 25px;
    height: 25px;
    /*    line-height: 25px;*/
    right: 18px;
    margin-top: 4px;
}

#item .liked {
    animation: like linear 0.35s;
    -webkit-animation: like linear 0.35s;
    -o-animation: like linear 0.35s;
}

#item .share {
    display: none;
}

@-webkit-keyframes like {
    0% {
        opacity: 0;
        transform: scale(1);
        border: none;
    }
    50% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes like {
    0% {
        opacity: 0;
        transform: scale(1);
        border: none;
    }
    50% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes like {
    0% {
        opacity: 0;
        transform: scale(1);
        border: none;
    }
    50% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes like {
    0% {
        opacity: 0;
        transform: scale(1);
        border: none;
    }
    50% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#item .split {
    height: 10px;
    background-color: #f8f8f8;
}

#item .navbar-fixed-bottom {
    padding: 15px 0px;
    border-top: 1pt solid #eeeeee;
}

#item .skin-download {
    width: 60%;
    border-radius: 100px;
}


/*轮播*/

.carousel-indicators {
    bottom: -10px;
    opacity: 0.5;
}

.carousel-indicators li,
.carousel-indicators .active {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.carousel-indicators .active {
    background-color: #673ab7;
}

#item #tips {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}

#item #tips img {
    width: 100%;
    border-radius: 5px;
}

#item #share-win {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 999999;

    text-align: center;
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
}

#item #share-win img {
    width: 15%;
    margin: 15px;
}

/*蒙板*/

#item .shade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    z-index: 950;
}

#item .clear {
    border-top: 1px solid #f2f2f2;
    background-color: #f8f8f8;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}
