body {
    font-family: serif, sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), url('font/iconfont.woff') format('woff'), url('font/iconfont.ttf') format('truetype'), url('font/iconfont.svg#iconfontyyy') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#item {
    padding-top: 46px;
    background-color: #fff;
    padding-bottom: 60px;
}

a,
a:link {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.split {
    height: 10px;
    background-color: #efeff0;
}

.nomore {
    font-size: 12px;
    color: #ccc;
    height: 45px;
    text-align: center;
    line-height: 20px;
    background-color: #efeff0;
}

.none {
    display: none;
}

.center {
    text-align: center;
}


/*BANNER*/

#banner {
    width: 100%;
    cursor: pointer;
}

#banner img {
    width: 100%;
}

.skin-name {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*皮肤列表*/

.skinlist {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

.col-xs-4,
.col-xs-6 {
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.row-title {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.row-title span {
    display: inline-block;
    width: 5px;
    height: 10px;
    border-left-width: 2px;
    border-left-style: solid;
}

.vline-blue {
    border-left-color: #54e5d6;
}

.vline-green {
    border-left-color: #b1d835;
}

.vline-red {
    border-left-color: #f59074;
}

.thumbnail {
    border: none;
    padding: 0px;
    margin-bottom: 9px;
}

.thumbnail .caption {
    padding: 2px;
}

.thumbnail .skin-preview {
    border-radius: 5px;
    width: 100%;
}

.thumbnail .skin-name {
    color: #343434;
    font-size: 12px;
    text-align: center;
}


/*皮肤详情*/

#pop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #181818;
    font-size: 14px;
    z-index: 9999;
    display: none;
}

#pop .install {
    width: 75%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    display: none;
}

#pop .iclose {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: crimson;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    display: none;
}

#pop .iclose:hover {
    background-color: brown;
}

#pop .iclose:active {
    background-color: crimson;
}

#pop .ime-update {
    line-height: 2;
}

#item .navbar-fixed-top {
    background-color: #f8f8f8;
    font-size: 16px;
    padding: 12px 0px;
}

#item .navbar-fixed-bottom {
    background-color: rgba(247, 247, 247, 0.9);
}

#item .skin-name {
    color: #181818;
    text-align: center;
    font-size: 16px;
}

#row-more .skin-name {
    color: #343434;
    font-size: 12px;
    text-align: center;
}

#item .skin-sas {
    text-align: center;
    font-size: 11px;
    color: #7f7f7f;
    padding: 6px;
}

#item .skin-star {
    color: #ff7e00;
    font-size: 9px;
}

#item .skin-details-preview img {
    width: 100%;
    border-radius: 5px;
}

#item .skin-description {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 15px;
}

#item .skin-description-title {
    font-size: 14px;
    color: #181818;
}

#item .skin-description-content,
#item .skin-description-update {
    font-size: 14px;
    color: #7f7f7f;
    padding-bottom: 15px;
}

#item .lables {
    padding-bottom: 15px;
}

#item .back,
#item .share,
#item .like {
    color: #666;
    font-size: 16px;
    position: absolute;
    border: 1px solid rgba(171, 172, 176, 0.38);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#item .back {
    width: 25px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-top: -2px;
    left: 12px;
}

#item .share {
    width: 25px;
    height: 25px;
    line-height: 25px;
    float: left;
    left: 18px;
    margin-top: 4px;
}

#item .like {
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: 18px;
    margin-top: 4px;
}

#item .liked {}

#item .split {
    height: 10px;
    background-color: #f8f8f8;
}

#item .navbar-fixed-bottom {
    padding: 15px 0px;
    border-top: 1pt solid #eeeeee;
}

#item .skin-download {
    width: 60%;
    border-radius: 100px;
}
