* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #fff;
	font-family: '微软雅黑';
}

@font-face {
	font-family: 'gd';
	src: url('godbiao.ttf');
}

#popup {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 26px;
	padding: 20px;
}

#container {
	background-color: #ccc;
	width: 720px;
	height: 550px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ccc;
	margin-top: 50px;
	box-shadow: 0 0 50px #ccc;
	overflow: hidden;
}

ul {
	list-style: none;
}

li {
	transform: scale(0.9);
	transition: transform 0.1s linear, opacity;
	-webkit-transition: transform 0.1s linear;
	-moz-transition: transform 0.1s linear;
	-o-transition: transform 0.1s linear;
	cursor: pointer;
}

li:active {
	transform: scale(1.5) translateY(-30px);
	opacity: 0.5;
	-webkit-transform: scale(1.5) translateY(-30px);
	-moz-transform: scale(1.5) translateY(-30px);
	-o-transform: scale(1.5) translateY(-30px);
	z-index: 999;
}

#center,
#left,
#right {
	float: left;
}


/*工具栏*/

.cand {
	width: 100%;
	height: 90px;
	background-color: aquamarine;
}

.cand {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.cand li {
	width: 119px;
	height: 90px;
	line-height: 90px;
	background-color: #ccc;
	color: #fff;
	font-size: 30px;
}


/*自定义符号*/

.left {
	background-color: bisque;
}

.comb {
	width: 115px;
	height: 460px;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 12px;
	background-color: #fff;
	transform: scale(0.90, 0.98);
}

.comb li {
	width: 115px;
	height: 91px;
	line-height: 91px;
	/*
	background-color: #fff;
	border-radius: 12px;
*/
	font-size: 30px;
	font-family: 'gd';
	border-bottom: 1px solid #eee;
}


/*中间*/

#center {
	width: 490px;
	height: 460px;
	background-color: bisque;
}

.center ul {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.center ul li {
	width: 163.33px;
	height: 115px;
	line-height: 115px;
	background-color: #fff;
	font-size: 35px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-shadow: 0 0 10px #ccc;
	font-family: 'gd';
}


/*右边*/

#right {
	background-color: bisque;
}

.right ul {
	width: 115px;
	height: 460px;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.right ul li {
	width: 115px;
	height: 114px;
	line-height: 114px;
	background-color: #fff;
	font-size: 30px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 12px;
}
